

<div class="hero-unit">
<h1>DishRate</h1>
<p>Rate the dish, not the restaurant!!!</p>
<p>Powered by MaxMeanMin
<%= link_to "MaxMeanMin", "http://www.maxmeanmin.com/about.html" %>

 </p>
 <p> 

 	<%= link_to "Sign Up Now!!", "#", class: "btn btn-success btn-large"%> 
 </p>  

 </div>

 
